<app-nav></app-nav>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
</head>
<div class="pt-5 my-font">
<h1 class="pt-5 d-flex justify-content-center">This project required a team!</h1>
  <h2 class="pt-5 d-flex justify-content-center mb-3">Here we are :)</h2>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-md-2 col-8 mb-3" align="center">
    <div class="card">
      <div class="card-body">
        <img src="https://scontent.fclj2-1.fna.fbcdn.net/v/t1.0-1/c0.256.1536.1536a/87010794_3041777692539164_6357315698531762176_o.jpg?_nc_cat=110&_nc_sid=dbb9e7&_nc_oc=AQmNKF3SG2frHn_-FN6m36CdOL8Gx4SCyyFHP0IcW1o1BhWnwgX0eKa705P3WzLqgUknMCea904ctVIY5aMZmg71&_nc_ht=scontent.fclj2-1.fna&oh=2b53de11bd16ffd4ce05c0db3f7c3120&oe=5F160A2C"  class="rounded-circle" width="100" height="100" alt="Profile Picture">
        <h4>
          <p class="name"> Vlad <br> Urzica  </p>
          <p class="role"> Project Manager </p>
          <a href="https://github.com/urzicavlad">Github</a>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-8 mb-3" align="center">
    <div class="card">
      <div class="card-body">
        <img src="https://scontent.fclj2-1.fna.fbcdn.net/v/t1.0-1/c0.435.1536.1536a/104160992_3289256311092793_6998678268207531039_o.jpg?_nc_cat=101&_nc_sid=dbb9e7&_nc_oc=AQky2b5xm0aSZCzqtQEnfSifuBOSNkZlMLYY7YnCKZQHP8RUrOmd91sYOjnKjRgRpk1jftb8SPmDPO4_VUoQOq-S&_nc_ht=scontent.fclj2-1.fna&oh=0fcedcc73e6aa6c64ffcd355ba79ed65&oe=5F163FAB" class="rounded-circle" width="100" height="100" alt="Profile Picture">
        <h4>    <p class="name"> Andreea Atanasiu </p>
          <p class="role"> Co-worker </p>
          <a href="https://github.com/atanasiuandreea">Github</a>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-12 mb-3" align="center">
    <div class="card">
      <div class="card-body">
        <img src="https://scontent.fclj2-1.fna.fbcdn.net/v/t31.0-8/s960x960/19054941_1601841989850667_2791472874059754664_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_oc=AQkX5XNrYwaXWJZZThBaMutB2Ov1mUuXabpinz7HN2hk3SIiXzJr9O4FX54sawxMeAYEYIISmDJ1fEExXEzSUNh6&_nc_ht=scontent.fclj2-1.fna&_nc_tp=7&oh=4b5e7095dedca41b56a354cccfc3d107&oe=5F15D548https://scontent.fclj2-1.fna.fbcdn.net/v/t31.0-8/s960x960/19054941_1601841989850667_2791472874059754664_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_oc=AQkX5XNrYwaXWJZZThBaMutB2Ov1mUuXabpinz7HN2hk3SIiXzJr9O4FX54sawxMeAYEYIISmDJ1fEExXEzSUNh6&_nc_ht=scontent.fclj2-1.fna&_nc_tp=7&oh=4b5e7095dedca41b56a354cccfc3d107&oe=5F15D548" class="rounded-circle" width="100" height="100" alt="Profile Picture">
        <h4>   <p class="name">  Kinga Ilyes  </p>
          <p class="role"> Co-worker </p>
          <a href="https://github.com/KingaI24">Github</a>
        </h4>
      </div>
    </div>
  </div>

<div class="col-md-2 col-12 mb-3" align="center">
  <div class="card">
    <div class="card-body">
      <img src="https://scontent.fclj2-1.fna.fbcdn.net/v/t1.0-9/s960x960/55942624_2158975464192452_226346361342132224_o.jpg?_nc_cat=105&_nc_sid=85a577&_nc_oc=AQlmTr9kkR3G7cGpRz9WFr8iPGUdGDy3Gn_7kJfT7RTprWoGkq4shIUiv0eRiz672vpgMvS2TuIXcUMioHKFRCa2&_nc_ht=scontent.fclj2-1.fna&_nc_tp=7&oh=f5db5ef61789070b79a19d14c2d4cc67&oe=5F13C060" class="rounded-circle" width="100" height="100" alt="Profile Picture">
      <h4> <p class="name">  Noemi <br> Kovacs  </p>
        <p class="role"> Co-worker</p>
        <a href="https://github.com/noemikovacs">Github</a>
      </h4>
    </div>
  </div>
</div>

<div class="col-md-2 col-12 mb-3" align="center">
  <div class="card">
    <div class="card-body">
      <img src="https://scontent.fclj2-1.fna.fbcdn.net/v/t1.0-9/56341718_2369383076629244_2556277707520344064_n.jpg?_nc_cat=111&_nc_sid=85a577&_nc_oc=AQnlD8myUUSSv69ON9bLah51uxpjgQg0aBnQGnRO3TpvEaQrXhnJgoofacIFH_WgVmRICb1ye2sFOSYHpc_kVRg7&_nc_ht=scontent.fclj2-1.fna&oh=217741181e2ad2e1caa6d06b9a4aeb2b&oe=5F15A0A2" class="rounded-circle" width="100" height="100" alt="Profile Picture">
      <h4>    <p class="name">  Cristina Szakacs   </p>
        <p class="role"> Co-worker </p>
        <a href="https://github.com/szakacscristina">Github</a>
      </h4>
    </div>
  </div>
</div>
</div>

<h2 class="pt-5 d-flex justify-content-center my-paragraph">About us</h2>
<br>
<p class="text-center a">
  Welcome to Travel-it, your number one source for all travel destinations. We are glad to meet one more traveler! We're dedicated to giving you the very best of travelling destinations, opinions and ratings, with a focus on quality, reliability and last but not least a large quantity of destination points.
 <br> <br>Founded in 2020 by Travel-it team, our dream product has come a long way from its beginnings in Cluj-Napoca. When we first started out, our passion for travelling, photographing, flying to the end of our globe drove us to do tons of research and write out recommendations and experience  so that Travel-it can offer you the world's most coolest page for travel resources. We now serve customers all over the world, and are thrilled that we're able to turn our passion into our own website.
  <br> <br>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
   <br> <br>Sincerely,<br><br>
  Andreea, Cristina, Kinga, Noémi and Vlad</p>

