 .my-paragraph{
  font-family: 'Lobster', cursive;
}
 .my-font{
   font-family: 'Arapey', serif;
 }

 p.a{
   text-indent:50px;
   font-family: 'Arapey', serif;
   font-size:25px;
 }

 .role{
   font-size:15px;
 }

 .name{
   font-family: 'Yeseva One', cursive;
 }
