<!-- about -->
<div class="about">
  <a class="bg_links social portfolio" href="https://www.rafaelalucas.com/dailyui" target="_blank">
    <span class="icon"></span>
  </a>
  <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
    <span class="icon"></span>
  </a>
  <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
    <span class="icon"></span>
  </a>
  <a class="bg_links logo"></a>
</div>


<div class="modal open
">
  <div class="wrapper">
    <div class="btn-close" routerLink="/" (click)="closeModal()"></div>

    <!-- Title -->
    <div class="title">
      <h1>Login</h1>
    </div>
    <!-- end Title -->

    <!-- Left Container -->
    <div class="left">
      <div class="content">
        <h2 class="subtitle">Please fill out the form to create an account</h2>
        <div class="alert alert-danger" id="login-alert" role="alert" hidden="true">
          Invalid Credentials
        </div>
        <form [formGroup]="LOGIN_FORM" (ngSubmit)="onSubmit()">
          <div class="input-wrapper" (keypress)="animeInput($event)">
            <label for="username">Username</label>
            <input class="form-control" formControlName="username" id="username" name="username" type="text">
          </div>

          <div class="input-wrapper" (keypress)="animeInput($event)">
            <label for="password">Password</label>
            <input class="form-control" formControlName="password" id="password" name="password" type="password">
          </div>

        </form>
        <button class="btn" (click)="login()">Login</button>
      </div>

    </div>
    <!-- end Left Container -->

    <!-- Right Container -->
    <div class="right">
    </div>
    <!-- end Right Container -->

  </div>
</div>


