<header>
  <nav>
    <div class="menubar">
      <a class="home" (click)="toggleMenu()">
        <img alt="travel-it-logo" src="../../assets/img/animated-logo.gif" width="100" height="80">{{ appTitle }}
      </a>
      <div class="button">
        <a class="link" routerLink="/">Home</a>
      </div>
      <div class="button" *ngIf="getUser() == null">
        <a class="link" routerLink="/register">Sing Up</a>
      </div>
      <div class="button" *ngIf="getUser() == null">
        <a class="link" routerLink="/login">Login</a>
      </div>
      <div class="button" *ngIf="getUser() != null">
        <a class="link" routerLink="/about-us">About us</a>
      </div>
      <div class="button" *ngIf="getUser() != null">
        <a class="link" routerLink="/countries">Destinations</a>
      </div>
      <div class="button" *ngIf="getUser() != null">
        <a class="link" routerLink="/users">Top Users</a>
      </div>
      <div class="button" *ngIf="getUser() != null">
        <a class="link" routerLink="/contact">Contact</a>
      </div>
      <div class="button" *ngIf="getUser() != null">
        <a class="link" routerLink="/account">Account</a>
      </div>
      <div class="button" *ngIf="getUser() != null">
        <a class="link" (click)="logOut()">Logout</a>
      </div>
      <div class="icons">
        <i class="icon-menu" (click)="toggleMenu()"><span></span></i>
      </div>
    </div>
    <ul class="menu">
      <li class="menu-link"><a class="text-item" routerLink="/about-us" (click)="toggleMenu()">About us</a></li>
      <li class="menu-link"><a class="text-item" routerLink="/countries" (click)="toggleMenu()">Destinations</a></li>
      <li class="menu-link"><a class="text-item" routerLink="/users" (click)="toggleMenu()">Top Users</a></li>
      <li class="menu-link"><a class="text-item" routerLink="/contact" (click)="toggleMenu()">Contact</a></li>
    </ul>
  </nav>
</header>

