<header>
  <div class="container">
    <a class="logo" routerLink="/">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/books">Books</a></li>
        <li><a routerLink="/users">Users</a></li>
        <li data-target="#registerModal" data-toggle="modal"><a routerLink="/register">Register</a></li>
        <li data-target="#bookModal" data-toggle="modal"><a routerLink="/books/create" >Add Book</a></li>
      </ul>
    </nav>
  </div>
</header>
