<app-nav></app-nav>
<div class="pt-5">
  <!--Cards-->
  <div *ngIf="page" class="d-flex pt-5 justify-content-center">
    <div class="card-columns">
      <div>
        <p *ngIf="page.totalElements == 0"> No countries in our Application :(</p>
      </div>
        <app-country-item *ngFor="let country of page.content" class="cards"
                          [country]="country">
        </app-country-item>
    </div>
  </div>
</div>
<form class="form-inline d-flex justify-content-center">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" #searchValue aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="searchValue" (click)="goToCountry()">Search</button>
</form>
<app-pagination [page] = "page"
                [api]="api"
                (updatePage)="onPageUpdate($event)">
</app-pagination>

