.description {
  padding-top: 100px;
}

.country-name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #7b8cd2;
  text-align: center;
}

.country-description {
  text-align: justify;
  padding-left: 80px;
  padding-right: 80px;
  color: slategray;
}
