<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple Bookstore developed by
    <a href="https://www.linkedin.com/in/urzica-vlad/">Vlad Urzica</a> and
    <a href="https://www.linkedin.com/in/andreeaioana-atanasiu/">Andreea Atanasiu</a>.</p>
  <hr class="my-4">
  <p>Technology used:</p>
  <ul>
    <li>Java 11</li>
    <li>Spring Boot</li>
    <li>Spring Data JPA</li>
    <li>Undertow Server</li>
    <li>Hibernate</li>
    <li>Lombok</li>
    <li>JavaScript</li>
    <li>Angular 8</li>
    <li>Typescript</li>
  </ul>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://bitbucket.org/andreeaatanasiu/bookstore-rpc/src/master/"
       role="button">Check our Bitbucket repo!</a>
  </p>
</div>
