<app-nav></app-nav>

<body>

<br>
<br>
<br>
<div class="pt-5">
  <h2>User Details</h2><br>
  <table class="table">
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td>{{user.email}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
    </tr>
  </table>
</div>

<div *ngIf="user.role != null && user.role == 'ADMIN'">

  <div id="admin">
    <h3 class="title">Change user role</h3>
    <br>
    <br>
    <br>
    <form>
      <label for="username">Username</label>
      <select #username name="username" id="username">
        <option *ngFor="let uname of usernames" value="{{uname}}">{{uname}}</option>
      </select><br>
      <label for="role">Role</label>
      <select #role name="role" id="role">
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
      </select>
      <div *ngIf="roleWasChanged" class="alert alert-success" role="alert">
        User role was changed
      </div>
      <input type="submit" value="Submit" (click)="onChangeUserRoleSubmit(username, role)">
    </form>
  </div>

  <div id="middlebox">
    <h3 class="title">Add a country</h3>
    <br>
    <br>
    <br>
    <form>
      <label for="countryName">Name</label>
      <input #countryName id="countryName" type="text"><br>
      <label for="imageUrl">Image URL</label>
      <input #imageUrl id="imageUrl" type="text"><br>
      <label for="countryDesc">Description</label>
      <textarea #countryDesc id="countryDesc"></textarea><br>
      <div *ngIf="countryWasAdded" class="alert alert-success" role="alert">
        Country was saved!
      </div>
      <input type="submit" value="Submit" (click)="onCountrySubmit(countryName, imageUrl, countryDesc)">
    </form>
  </div>

  <div id="rightbox">
    <h3 class="title">Add a City</h3>
    <br>
    <br>
    <br>
    <form>
      <label for="countryName">Name</label>
      <input #cityName id="cityName" type="text"><br>
      <label for="cityCountryName">Country name</label>
      <select #cityCountryName name="cityCountryName" id="cityCountryName">
        <option *ngFor="let cname of countryNames" value="{{cname}}">{{cname}}</option>
      </select><br>
      <label for="cityCountryName">Description</label>
      <textarea #cityDesc id="cityDesc"></textarea><br>
      <div *ngIf="cityWasAdded" class="alert alert-success" role="alert">
        City was saved!
      </div>
      <input type="submit" value="Submit" (click)="onCitySubmit(cityName, cityCountryName, cityDesc)">
    </form>
  </div>
</div>

<div *ngIf="user.role != null && user.role == 'USER'">
  <div>
    <h3 >Add a Recommendation</h3>
    <br>
    <br>
    <br>
    <form>
      <label for="landmark">Name</label>
      <input #landmark id="landmark" type="text"><br>
      <label for="reccCountryName">Country name</label>
      <select #countryName name="reccCountryName" id="reccCountryName" (change)="callCity(countryName)">
        <option *ngFor="let cname of countryNames" value="{{cname}}">{{cname}}</option>
      </select><br>
      <select #cityName name="reccCityName" id="reccCityName">
        <option *ngFor="let cname of cityNames" value="{{cname}}">{{cname}}</option>
      </select><br>
      <label for="cityCountryName">Description</label>
      <textarea #reccDesc id="reccDesc"></textarea><br>
      <div *ngIf="cityWasAdded" class="alert alert-success" role="alert">
        City was saved!
      </div>
      <input type="submit" value="Submit" (click)="onRecommendationSubmit(landmark, countryName, cityName, reccDesc)">
    </form>
  </div>
</div>
</body>
