<app-nav></app-nav>
<div class="pt-5">
  <h2>User Details</h2>
  <table class="table">
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <tr>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td>{{user.email}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
    </tr>
  </table>
</div>

<div *ngIf="user.role != null && user.role == 'ADMIN'">

  <br><br><h1>ADMIN VIEW</h1><br><br>

  <div>
    <h5>Change user role</h5>
    <form>
      <label for="username">Username</label>
      <input #username id="username" type="text"><br>
      <label for="role">Role</label>
      <input #role id="role" type="text"><br>
      <input type="submit" value="Submit" (click)="onChangeUserRoleSubmit(username, role)">
    </form>
  </div>

  <div>
    <h5>Add a country</h5>
    <form>
      <label for="countryName">Name</label>
      <input #countryName id="countryName" type="text"><br>
      <label for="imageUrl">Image URL</label>
      <input #imageUrl id="imageUrl" type="text"><br>
      <label for="countryDesc">Description</label>
      <textarea #countryDesc id="countryDesc"></textarea><br>
      <input type="submit" value="Submit" (click)="onCountrySubmit(countryName, imageUrl, countryDesc)">
    </form>
  </div>
  <br><br><br><br>
  <div>
    <h5>Add a City</h5>
    <form>
      <label for="countryName">Name</label>
      <input #cityName id="cityName" type="text"><br>
      <label for="cityCountryName">Country name</label>
      <select #cityCountryName name="cityCountryName" id="cityCountryName">
        <option *ngFor="let cname of countryNames" value="{{cname}}">{{cname}}</option>
      </select>
      <label for="cityCountryName">Description</label>
      <textarea #cityDesc id="cityDesc"></textarea><br>
      <input type="submit" value="Submit" (click)="onCitySubmit(cityName, cityCountryName, cityDesc)">
    </form>
  </div>

  <br><br><br><br>
  <div>
    <h5>Add a Recommendation</h5>
  </div>



</div>
