<div class="modal open">
  <div class="wrapper">
    <div class="btn-close" routerLink="/" (click)="closeModal()"></div>

    <!-- Title -->
    <div class="title"><h1>Sign Up</h1></div>
    <!-- end Title -->

    <!-- Left Container -->
    <div class="left">
      <div class="content">
        <h2 class="subtitle">Please fill out the form to create an account</h2>
        <form [formGroup]="USER_FORM" (ngSubmit)="onSubmit()">

          <div class="input-wrapper" (keypress)="animeInput($event)">
            <label for="username">Username</label>
            <input class="form-control" formControlName="username" id="username" name="username" type="text">
          </div>

          <div class="input-wrapper" (keypress)="animeInput($event)">
            <label for="firstName">First Name</label>
            <input class="form-control" formControlName="firstName" id="firstName" name="firstName" type="text">
          </div>

          <div class="input-wrapper" (keypress)="animeInput($event)">
            <label for="lastName">Last Name</label>
            <input class="form-control" formControlName="lastName" id="lastName" name="lastName" type="text">
          </div>

          <div class="input-wrapper" (keypress)="animeInput($event)">
            <label for="email">E-mail</label>
            <input class="form-control" formControlName="email" id="email" name="email" type="email">
          </div>

          <div class="input-wrapper" (keypress)="animeInput($event)">
            <label for="password">Password</label>
            <input class="form-control" formControlName="password" id="password" name="password" type="password">
          </div>

        </form>

        <button routerLink="/" (click)="register()" class="btn">Create Account</button>
      </div>

    </div>
    <!-- end Left Container -->

    <!-- Right Container -->
    <div class="right"></div>
    <!-- end Right Container -->
  </div>
</div>


