<!-- BookModal -->
<div aria-hidden="true" aria-labelledby="bookModalLabel" class="modal fade" id="bookModal"
     role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalLabel">Book Properties</h5>
        <button (click)="gotoBooks()" aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedBook">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bookTitle">Title</label>
              <input [(ngModel)]="SELECTED_BOOK.title" [value]="SELECTED_BOOK.title"
                     class="form-control" id="bookTitle" name="bookTitle" type="text">
            </div>
            <div class="form-group col-md-6">
              <label for="bookAuthor">Author</label>
              <input [(ngModel)]="SELECTED_BOOK.author" [value]="SELECTED_BOOK.author"
                     class="form-control" id="bookAuthor" name="bookAuthor" type="text">
            </div>
          </div>
          <div class="form-group">
            <label for="bookShortDescription">Short Description</label>
            <textarea [(ngModel)]="SELECTED_BOOK.shortDescription" [value]="SELECTED_BOOK.shortDescription"
                      class="form-control" id="bookShortDescription"
                      name="bookShortDescription"></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bookCity">City</label>
              <input [(ngModel)]="SELECTED_BOOK.city" [value]="SELECTED_BOOK.city"
                     class="form-control" id="bookCity" name="bookCity" type="text">
            </div>
            <div class="form-group col-md-6">
              <label for="bookPrice">Price</label>
              <input [(ngModel)]="SELECTED_BOOK.price" [value]="SELECTED_BOOK.price"
                     class="form-control" id="bookPrice" name="bookPrice" step="0.01" type="number">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bookPublisher">Publisher</label>
              <input [(ngModel)]="SELECTED_BOOK.publisher" [value]="SELECTED_BOOK.publisher"
                     class="form-control" id="bookPublisher" name="bookPublisher" type="text">
            </div>
            <div class="form-group col-md-6">
              <label for="bookYear">Year</label>
              <input [(ngModel)]="SELECTED_BOOK.year" [value]="SELECTED_BOOK.year"
                     class="form-control" id="bookYear" name="bookYear" type="text">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="gotoBooks()" class="btn btn-outline-secondary" data-dismiss="modal" type="button">Close
        </button>
        <button (click)="deleteSelectedBook()" class="btn btn-outline-danger" data-dismiss="modal" type="button">Delete
        </button>
        <button (click)="updateSelectedBook()" class="btn btn-outline-primary" data-dismiss="modal"
                data-target="#successAlert" type="button">Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Success Alert -->
<div *ngIf="successUpdated" class="alert alert-success alert-dismissible fade show" id="successAlert" role="alert">
  Book with id <!--<strong>{{SELECTED_BOOK.id}}</strong>--> was updated with success!
  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Success Deleted Alert -->
<div *ngIf="successDeleted" class="alert alert-warning alert-dismissible fade show" id="successDeletedAlert" role="alert">
  Book with id <!--<strong>{{SELECTED_BOOK.id}}</strong>--> was deleted with success!
  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Error occurred Alert -->
<div *ngIf="errorOccurred" class="alert alert-danger alert-dismissible fade show" id="errorAlert" role="alert">
  Book with id <!--<strong>{{SELECTED_BOOK.id}}</strong>--> was deleted with success!
  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
